* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --blue: rgb(24, 116, 236);
    --green: rgb(47, 153, 70);
    --red: rgb(185, 67, 67);
    --purple: rgb(130, 54, 180);
}

/* Estilos del header */
header{
    width: 100%;
    text-align: center;
}
header h1{
    padding: 20px;
    margin: 10px;
    display: block;
    font-size: 35px;
    border-bottom: 1px solid var(--blue);
}
header p{
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.4rem;
    padding: 7px;
    color: rgb(153, 153, 153);
    font-weight: 500;
}

/* Estilos generales figuras */

section #Cuadrado, #Altura,#Triangulo,#Circulo{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 70%;
    min-width: 290px;
    max-width: 400px;
    margin: 20px auto;
    padding: 5px;
    box-shadow: 0px 0px 10px gray;
    border-radius: 3px;
}
section form h2{
    padding: 10px;
    font-weight: 700;
}
section #Cuadrado h2{
    color: var(--blue);
}
/* estilos especificos de la altura */
section #Altura h2{
    color: var(--purple);
}
section #Altura input::placeholder{
    color: var(--purple)
}
section #Altura button{
    background-color: var(--purple);
}
section #Altura button:hover{
    background-color: rgb(110, 26, 110);
}

/* estilos especifiocs del triangulo */
section #Triangulo h2{
    color: var(--green);
}

section #Triangulo input::placeholder{
    color: var(--green);
}
section #Triangulo button{
    background-color: var(--green);
}
section #Triangulo button:hover{
    background-color: rgb(33, 143, 33)
}

/* Estilos especificos del circulo */
section #Circulo h2{
    color: var(--red);
}

section #Circulo input::placeholder{
    color: var(--red);
}
section #Circulo button{
    background-color: var(--red);
}
section #Circulo button:hover{
    background-color: rgb(172, 41, 41)
}
section form input{
    border: none;
    padding: 10px;
    width: 70%;
    margin: 5px auto;
    border:  1px solid rgb(184, 183, 183);
}
section form input::placeholder{
    color: var(--blue);
    font-size: 1.1rem;
}
section form button{
    width: 200px;
    margin: 7px auto;
    border: none;
    background-color: var(--blue);
    padding: 10px;
    color: white;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}
section form button:hover{
    background-color: rgb(7, 89, 182);
}
section form label{
    color: gray;
    font-size: 15px;
    margin: 5px;
}

section div{
    display: flex;
    width: 100%;
    margin: 7px 0;
}
section div img{
    width: 200px;
    margin: 0 auto;
}